*{
}
body{
    height: min(490px, 120vh);
    min-height: 649px;
    overflow-y: auto;
    overflow-x: hidden;
    
}
section{
    width: 100vw;
    
}
#header{
    height: 25vh;
    
}
#body{
    min-height:fit-content;
    height: 60vh;
    max-height: 600px;
    background-color:transparent;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    position:relative;
}

.card{
    position: absolute;

    width: 25vw;
    max-width: 400px;
    max-height: 400px;

    height: 45vw;
    min-width: 200px;
    min-height: 320px;

    top: 60%;
    transform: translateY(-50%);

    border-radius: 5%;
    border: 2px solid linear-gradient(to bottom, rgb(202, 242, 242), rgb(152, 202, 202));
    background: linear-gradient(to bottom, rgb(202, 242, 242), rgb(152, 202, 202));
    
    border:10px outset rgb(255, 255, 255);
    padding-bottom: 10px;
    transition: transform 0.3s ease-in-out;

}
#card1{
    left: 10%;
    
}
#card2{
    
}
#card3{
    right: 10%;
}
.mola1 {
    animation-name: mola1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: ;
    display: inline-block;
  }

  @keyframes mola1 {
    
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0);
    }
  }

@keyframes mola1 {
    
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0);
    }
    }

    .flutuar {
        animation-name: flutuacao;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        display: inline-block;
      }
      
      @keyframes flutuacao {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
      }


@keyframes mola2{
        0% {
          transform: translateX(100%);
        }
        50% {
          transform: translateX(0);
        }
      }

.mola2 {
        animation-name: mola2;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: ;
        display: inline-block;
}

.mola {
    animation-name: mola;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: ;
    display: inline-block;
  }
  
  @keyframes mola {
    0%, 50% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
#card1:hover{
    
}

#card2:hover{
    opacity: 0.9;
}
#card3:hover{
    opacity: 0.9;
}

#youtubePlayerContainer{
    cursor: pointer;

}
.ImgCard{
    border-radius: 5%;
    width: 100%;
    height: 60%;
    text-align: center;
}
.ImgCard#img1{
    background-image: url(images/imagem1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
    background-color: white;
    background-size: 120px;
}
.ImgCard#img2{
    background-image: url(images/imagem2.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
    background-size: 150px;
}

.ImgCard#img3{
    background-image: url(images/imagem3.jpg);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:220px;
    
}
#botao{
    width: 100%;
    text-align: center;
    padding-top: 5%;
}
#img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}
#footer{
    min-height: 150px;
    padding: 50px 0px 50px 0px;
    height: 20vh;
    
    text-align: center;
    background-color:rgb(101, 232, 232) ;
    display: block;

    position:relative;
    top: ;
}
#footer img{
    resize: horizontal;

}
#footer h1{
    display: inline-block;
}

input{
    width: 50px;
    cursor: grab;
}

button{
    cursor: pointer;
}

    

    #button{
        background-size: contain;
        border-radius: 50%;

        width: 30px;
        height: 30px;
        background-position: center;
    }

    .pause{
        background-size: contain;
        border-radius: 50%;

        width: 30px;
        height: 30px;
        background-position: center;
        background-image: url(images/botao2.png);
    }

    .play{
        background-size: contain;
        border-radius: 50%;

        width: 30px;
        height: 30px;
        background-position: center;
        background-image: url(images/botao1.png);
    }

    /*-------------------------*/
    :root {
        --background: #f3a683;
        --base: #303952;
        --accent: #786fa6;
        --shadow: #e77f67;
    }
    
    .cool span {
        color: var(--shadow);
        display: inline-block;
        position: relative;
    }
    
    .cool span::before,
    .cool span::after {
        content: attr(data-text);
        left: 0;
        overflow: hidden;
        position: absolute;
        speak: none;
    }
    
    .cool span::before {
        animation: max-height 0.4s cubic-bezier(0.61, 1, 0.88, 1) 1 normal both;
        color: var(--accent);
    }
    
    .cool span::after {
        animation: max-width 0.7s cubic-bezier(0.61, 1, 0.88, 1) 1 normal both;
        color: var(--base);
    }
    
    .cool span:hover::before {
        animation: none;
        max-height: 100%;
        color: var(--accent);
    }
    
    .cool span:hover::after {
        animation: none;
        max-width: 100%;
        color: var(--base);
    }
    
    
    @keyframes max-width {
        from {
            max-width: 0;
        }
        to {
            max-width: 100%;
        }
    }
    
    @keyframes max-height {
        from {
            max-height: 0;
        }
        to {
            max-height: 100%;
        }
    }
/*Parte do Menu*/
    .menu__toggler {
        position: absolute;
        top: 200px;
        left: 20px;
        z-index: 999;
        height: 28px;
        width: 28px;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .menu__toggler::before,
    .menu__toggler::after,
    .menu__toggler.active::before,
    .menu__toggler.active::after {
    content: "";
    position: absolute;
    background-color: #6b3e99;
    transition: 0.3s ease-in-out;
    }

    .menu__toggler::before,
    .menu__toggler::after {
    width: 100%;
    height: 3px;
    }

    .menu__toggler::before {
    top: 0;
    }

    .menu__toggler::after {
    bottom: 0;
    }

    .menu__toggler.active::before,
    .menu__toggler.active::after {
    background-color: #ffffff;
    }

    .menu__toggler.active::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    }

    .menu__toggler.active::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    }

    .menu__toggler.active {
    background-color: #6b3e99;
    background-image: url(images/cat.png);
    
    }


.menu {
    position: absolute;
    left: -30%;
    z-index: 998;
    color: #005c9c;
    background: rgba(250, 250, 250, 0.7);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    width: 40%;
    height: 50%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}


@media only screen and (max-width: 600px) {
    .menu {
        width: 250px;
        left: -250px;
        padding: 50px;
    }
}
@media only screen and (max-width:500px){

}
@media only screen and (max-width:400px){
    .card{
        min-width:180px;
        height: 55vw;
        position: absolute;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        top: 40%;
        transform: translateY(-40%);
        transition: opacity 0.5s ease-in-out;
    }
    #card3:not(:hover){
        opacity: 1;
    }

    .card {
        position: absolute;
        transition: opacity 0.5s ease-in-out;
    }
    
    .card:not(:hover) {
        opacity: 0.3;
    }

    .card:hover{
        opacity: 1;
        z-index: 1;
        
    }
}

@media only screen and (max-width: 300px) {
    .card{
        min-width:180px ;
        position: absolute;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        top: 40%;
        transform: translateY(-40%);
        transition: opacity 0.5s ease-in-out;
    }
    #card3:not(:hover){
        opacity: 1;
    }

    .card {
        position: absolute;
        transition: opacity 0.5s ease-in-out;
    }
    
    .card:not(:hover) {
        opacity: 0.3;
    }

    .card:hover{
        opacity: 1;
        z-index: 1;
        
    }
}

@media only screen and (max-width: 250px) {
    .card{
        min-width:180px ;
        position: absolute;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        top: 40%;
        transform: translateY(-40%);
        transition: opacity 0.5s ease-in-out;
    }
    #card3:not(:hover){
        opacity: 1;
        
    }

    .card {
        position: absolute;
        transition: opacity 0.5s ease-in-out;
    }
    
    .card:not(:hover) {
        opacity: 0.3;
    }

    .card:hover{
        opacity: 1;
        z-index: 1;
        
    }

}

.menu.active {
    left: 0;
}

.menu p {
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
}
.menu p:hover{
    text-decoration: underline
}

@import url('https://fonts.googleapis.com/css?family=K2D');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
    z-index: -1;
    
}
/*CSS da animação*/

/*CSS do timer*/
#timer {
    &.odd {
    color: #264653;
    }
}


